<!-- This component displays the log screen  -->

<div id="bottom-left" class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Logs</h3></div>
    <div class="panel-body">
      <!-- <textarea rows="8" id="log" class="form-control"  name="log" [(ngModel)]="message"></textarea> -->

        <!-- <textarea rows="8" id="log" class="form-control"  name="log" readonly  >{{messages}}</textarea> -->
        <pre class="textarea form-control" >{{messages}}</pre>

    </div>
  </div>
</div>


<!-- style="overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight" -->