<!-- This component displays the log screen  -->


<div id="bottom-left" class="row">

<div class="panel panel-default">
  <div class="panel-heading">
      <b>Logs</b>
  </div>
  <div class="panel-body"> <!-- [attr.class]="'tab-pane fad ' + activeArray[0]" -->
    <!--
    <pre class="textarea form-control" >

      <app-messages *ngFor="let message of messages"
            [messageDate] = "message.date"
            [messageMessage] = "message.message"
            [messageColor] = "message.color"
            [messageId]="message.id"
            [messageType]="message.type">
      </app-messages>
    </pre>-->
    <!-- https://www.npmjs.com/package/angular-6-datatable -->
    <table class="table table-striped table-responsive" [mfData]="messages" #mf="mfDataTable" [mfRowsOnPage]="5" style="table-layout: fixed">
      <thead>
      <tr>
        <th style="width: 5%">
          <mfDefaultSorter by="id">Id</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="date">Date</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="type">Type</mfDefaultSorter>
        </th>
        <th style="width: 75%;">
          <mfDefaultSorter by="message">Message</mfDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let item of mf.data" [class]="item.level" [ngStyle]="{color: getColor(item.level)}">
        <td>{{item.id}}</td>
        <td>{{item.date | date: 'HH:mm:ss:SSS'}}</td>
        <td >{{item.type}}</td>
        <td>{{item.message}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>

  <!--
  <ul class="nav nav-tabs" id="theTabs">
    <li class ="active">
      <a data-toggle="tab" data-target="#allLogs">All Logs</a>
    </li>
    <li >
      <a data-toggle="tab" data-target="#info">Info</a>
    </li>
  </ul>
  <div id="info" class="tab-pane fade ">
        <pre class="textarea form-control" >
          <app-messages *ngFor="let test of messages"
                        [messageDate] = "test.date"
                        [messageMessage] = "test.message"
                        [messageColor] = "test.color">
          </app-messages>
        </pre>
  </div> -->