pre.textarea {
  border: 1px inset #ccc;
  background-color: black;
  font: small courier, monospace black;
  min-height: 200px; /* or whatever measurements you want */
  overflow: auto; /* in most browsers, this will results in a scrollbar when there's more content than can fit in the dimensions defined above */
}

h3.panel-title
{
  margin: 3%;
}

//wraping pre

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

th,td {
  word-wrap: break-word;
}