<!doctype html>
<html ng-app="helloAjaxApp">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="form.js"></script>
</head>

<body ng-controller="myController">

    <form role="form" ng-submit="submitDrl()" id="drlform">
        <label control-label>input data</label>
        <input type="submit" value="Submit"/>
    </form>

    <div style="float:left;">
        <p>
            Data<br />
        <textarea cols="120" rows="20" name="data" ng-model="message.data" form="drlform">

        </textarea><br />
            Log<br />
            <textarea cols="120" rows="20" name="log" ng-model="message.log"></textarea>
        </p>
    </div>
    <div style="float:right;">
        <p>
            Facts<br />
        <textarea cols="120" rows="42" name="facts" ng-model="message.facts" form="drlform">
        </textarea>
        </p>
    </div>

</body>
</html>