

<popover-content #SharePopover
                 title = "Copy" >
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="text1" placeholder="Copy URL">
    <div class="input-group-btn">
      <button class="btn btn-default" type="button" ngxClipboard [cbContent]="text1" (cbOnSuccess)="isCopied1 = true" [class.btn-success]="isCopied1">copy
        <i class="glyphicon glyphicon-copy"></i>
      </button>
    </div>
  </div>
</popover-content>


<form class="navbar-form navbar-right" >
      <button type= "button" class="btn btn-primary"
           [popover]="SharePopover"
           popoverPlacement="bottom"
           [popoverOnHover]="false"
           [popoverCloseOnMouseOutside]="false"
      > Share
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </button>
</form>


<!-- <input type="text" class="form-control" [(ngModel)]="text1" placeholder="Copy URL">
<div class="input-group-btn">
  <button class="btn btn-default" type="button" ngxClipboard [cbContent]="text1" (cbOnSuccess)="isCopied1 = true" [class.btn-success]="isCopied1">copy
    <span class="glyphicon glyphicon-copy"></span>
  </button>
</div> -->