<!doctype html>
<html ng-app="helloAjaxApp">
<head>
    <title>Drools Fiddle</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="jsoneditor.min.js"></script>
    <script src="angular-json-editor.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="bootstrap-switch.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bootstrap-switch.js"></script>
    <script type="text/javascript" src="vis.min.js"></script>
    <link href="vis.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="panel-with-tab.css" rel="stylesheet">
    <script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="ace/script.js" type="text/javascript"></script>
    <script src="form.js"></script>
    <script src="websocket.js"></script>
    <script src="example.js"></script>

    <style type="text/css">
        #top-left {
            height: 550px;
            overflow:scroll;
        }
        #mynetwork {
            border: 1px solid lightgray;
            height: 750px;
        }
        #editor {
            height: 540px;
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
        body { padding-top: 70px; }


    </style>

</head>

<body ng-controller="myController">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><span><img src="drlfdl_30x30.png"/></span> Drools Fiddle</a>
    </div>
    <form class="navbar-form navbar-left" role="form">
        <div class="btn-group inline">
            <button type="submit" class="btn btn-primary" ng-click="compileDrl()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Build</button>
            <button id="firebtn" type="submit" class="btn btn-primary disabled" ng-click="fireDrl()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Fire</button>
        </div>
        <div class="form-group inline">
            <input name="checkbox-live" type="checkbox" checked data-on-color="success" data-off-color="danger" data-on-text="Live">
        </div>
        <div class="btn-group inline">
            <button id="previousbegin" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            </button>
            <button id="previous" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button id="next" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <button id="nextend" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            </button>
            <button  type="button" class="btn btn-primary">
                <b>step</b> <span id="counter" class="badge">0/0</span>
            </button>
        </div>
    </form>
    <form role="form" class="navbar-form navbar-right" ng-submit="saveDrl()" id="saveform">
        <div class="btn-group inline">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
        </div>
    </form>
</div>
</nav>
<div class="container-fluid">
    <div class="col-md-6">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs" id="theTabs">
                        <li class="active">
                            <a data-toggle="tab" data-target="#drl">Drools Rules</a>
                        </li>
                        <li>
                            <a data-toggle="tab" data-target="#facts">Drools Facts</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div id="top-left" class="tab-content">
                        <div id="drl" class="tab-pane fade in active">
                            <div id="editor"  name="data" form="drlform">
//
// copy paste your drl
//

declare Fact
    value : int
end


rule "Rule"
    when
        f : Fact(value == 42)
    then
        modify( f ) {setValue( 41 )}
    end</div>
                        </div>
                        <div id="facts" class="tab-pane fade">
                            <json-editor schema="mySchema" startval="myStartVal" on-change="onChange($editorValue)" buttons-controller="SyncButtonsController">
                                <button type="submit" class="btn btn-success" ng-click="onSubmit($event)" ng-disabled="!isValid">
                                    <span class="glyphicon glyphicon-check"></span> Submit
                                </button>
                            </json-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-left" class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Logs</h3></div>
                <div class="panel-body">
                    <textarea rows="8" id="log" class="form-control"  name="log" ng-model="message.log"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Visualization <a data-html="true" data-toggle="popover" data-trigger="hover" title="Legend" data-popover-content="#legend"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h3></div>
            <div class="panel-body">
                <div id="mynetwork" class="row"></div>
                <pre id="eventSpan" class="row"></pre>
            </div>
        </div>
    </div>
</div>

<div id="legend" class="hide">
    <span class="label label-info">Fact Instance</span>
    <span class="label label-warning">Rule</span>
    <span class="label label-danger">Fact Type</span>
</div>



</body>
</html>