<!doctype html>
<html ng-app="helloAjaxApp">
<head>
    <title>Drools Fiddle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="bootstrap-switch.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bootstrap-switch.js"></script>
    <script type="text/javascript" src="vis.min.js"></script>
    <link href="vis.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="form.js"></script>
    <script src="websocket.js"></script>
    <style type="text/css">
        #top-left {
            height: 500px;
        }
        #bottom-left{
            margin-top: 50px;
        }
        #mynetwork {
            border: 1px solid lightgray;
            height: 750px;
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

    </style>

</head>

<body ng-controller="myController">
<div class="container-fluid">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group">
                <ul class="nav nav-pills">
                    <li class="active">
                        <h3><span data-toggle="tab" href="#drl" class="label label-default">Drools rules</span></h3>
                    </li>
                    <li>
                        <h3><span data-toggle="tab" href="#facts" class="label label-default">Drools facts</span></h3>
                    </li>
                </ul>
                <br />
                <div id="top-left" class="tab-content">
                    <div id="drl" class="tab-pane fade in active">
                       <textarea rows="25" class="form-control"  name="data" ng-model="message.data" form="drlform">
                        </textarea>
                    </div>
                    <div id="facts" class="tab-pane fade">
                        <div ng-repeat="facts in message.packages[0].facts" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{$index}}">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
                                            {{facts.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
                                    <div class="panel-body">
                                        <form role="form" ng-submit="pushAttribute(facts.name)" >
                                            <table class="table">
                                                <tr ng-repeat="attr in facts.attributes" ng-init="attribute[facts.name]={}">
                                                    <th scope="row">{{attr.id}}</th>
                                                    <td>{{attr.name}}
                                                    <td>
                                                        <input ng-if="!attr.enumValues" ng-model="attribute[facts.name][attr.name]"  class="form-control" >
                                                        <select ng-if="attr.enumValues" ng-model="attribute[facts.name][attr.name]" class="form-control" id="exampleSelect1">
                                                            <option ng-repeat="enum in attr.enumValues" value="{{enum}}">{{enum}}</option>
                                                        </select>
                                                    </td>
                                                    <td>{{attr.type}}</td>
                                                </tr>
                                            </table>
                                            <button type="submit" class="btn btn-default">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <form role="form" class="btn-group " ng-submit="compileDrl()" id="drlform">
                    <button type="submit" class="btn btn-primary">Build</button>
                </form>

                <form role="form" class="btn-group inline" ng-submit="fireDrl()" id="fireform">
                    <button type="submit" class="btn btn-primary">Fire</button>
                </form>

                <input name="checkbox-live" type="checkbox" checked data-on-color="success" data-off-color="danger" data-on-text="Live">

                <button id="previousbegin" type="button" class="btn btn-primary disabled stepbystep" onclick="previousbegin();">
                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                </button>

                <button id="previous" type="button" class="btn btn-primary disabled stepbystep" onclick="previous();">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>

                <button id="next" type="button" class="btn btn-primary disabled stepbystep" onclick="next();">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>

                <button id="nextend" type="button" class="btn btn-primary disabled stepbystep" onclick="nextend();">
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </button>

                <button  type="button" class="btn btn-primary">
                    <b>step</b> <span id="counter" class="badge">0/0</span>
                </button>

                <form role="form" class="btn-group inline pull-right" ng-submit="saveDrl()" id="saveform">
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>

        </div>
        <div id="bottom-left" class="row">
            <h3><span class="label label-default">Log</span></h3>
            <br />
            <textarea rows="8" id="log" class="form-control"  name="log" ng-model="message.log"></textarea>
            </p>
        </div>
    </div>
    <div class="col-md-6">
            <h3><span class="label label-default">Visualization</span></h3>
            <br />
            <div id="mynetwork" class="row"></div>
             <pre id="eventSpan" class="row"></pre>
        </div>
</div>

<script src="example.js"></script>
<script>

$("[name='checkbox-live']").bootstrapSwitch();
var index;
$("[name='checkbox-live']").on('switchChange.bootstrapSwitch', function(event, state) {
    if (state) {
        $('.stepbystep').addClass("disabled");
        <!-- dequeue all events -->
        nextend();
    } else {
        $('.stepbystep').removeClass("disabled");
        index = queue.length - 1;
    }
});


</script>
</body>
</html>